<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="QFPay\PaymentGateway\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="QFPay\PaymentGateway\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">QFPay_PaymentGateway</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">QFPay\PaymentGateway\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="QFPay\PaymentGateway\Config\ConfigPlugin">
        <plugin name="admin_system_config_save_plugin" type="QFPay\PaymentGateway\Plugin\ConfigPlugin" sortOrder="1"/>
    </type>
    <virtualType name="Magento\Checkout\Model\CompositeConfigProvider" shared="false">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="qf_payment_gateway_config_provider" xsi:type="object">QFPay\PaymentGateway\Model\QFPayConfigProvider</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="qf_payment_gateway_config_provider" xsi:type="object">QFPay\PaymentGateway\Model\QFPayConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
